*{
	box-sizing: border-box;
}

.main{
	font-family: arial;
	font-size: 250%;
	text-align: center;
}

.box{
	height: 200px;
	width: 400px;
	float: left;
	background-color: yellow;
	border: 1px solid;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin: 10px;

}

p{
	font-family: sans-serif;
	padding: 5px;
}
